section {
  padding: 25px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav {
  height: 60px;
  width: 100%;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  a {
    margin: 0 10px;
  }
}
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    margin-bottom: 10px;
  }
}

.list-line {
  display: flex;
  height: 30px;

  span,
  a {
    padding-left: 4px;
    margin: 0 -1px -1px 0;

    border: 1px solid rgb(39, 136, 126);
  }
  span {
    display: flex;
    align-items: center;

    width: 150px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(57, 201, 186);
    padding: 0;
    justify-content: center;
    width: 100px;
    margin-right: 0;
  }
}

.ll-cols span {
  justify-content: center;
  background-color: rgb(185, 241, 236);
}

.error-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 72, 72);
    color: white;
    padding: 5px 10px;

    position: relative;
    width: 100%;

    .error-close-btn {
      position: absolute;
      background-color: rgb(223, 63, 63);
      padding: 4px 8px;
      right: 0;

      cursor: unset;
    }
  }
}

.button {
  width: 150px;
  height: 30px;
  background-color: rgb(57, 201, 186);
  border: 1px solid rgb(39, 136, 126);

  margin: 10px;
}
.del-btn {
  background-color: rgb(201, 57, 57);
  border-color: rgb(136, 39, 39);
}

.form-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(189, 189, 189);
  padding: 10px;
  width: 100%;
  h2 {
    margin: 5px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  .form-input-line {
    display: flex;
    align-items: center;
    justify-content: end;

    margin: 5px;

    label {
      margin-right: 5px;
    }

    input,
    textarea {
      width: 200px;
      padding: 5px;
    }

    textarea {
      font-size: 17px;
      outline: none;
      min-height: 81px;

      resize: none;
    }
  }

  button {
    align-self: center;
    margin: 5px;
  }
}
.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  .post-content {
    padding: 15px 0;
  }
}
